

.services_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 800px;
  margin: 35px auto;
}

.service_box {
  display: flex;
  align-items: flex-end;
  min-height: 290px;
  max-width: 260px; 
  width: calc((100% - 30px) / 4); /* /4 thi 4 img aavse */
  position: relative;
  transition: transform 0.3s ease, z-index 0.3s ease;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  opacity: 0.5;
}

.service_box span {
  color: #fffdfd; 
  font-weight: bold;
  padding: 15px;
  transition: opacity 0.3s ease;
}

.service_box:hover {
  transform: scale(1.1);
  z-index: 10;
  opacity: 1;
}

.service_box.overlay {
  background-color: #0000ff; 
  transition: background-color 0.3s ease-in-out;
}

.service_box.overlay:hover span {
  opacity: 2; 
}

.service_box.overlay:hover {
  background-image: linear-gradient(to top, #0000ff 60%, rgba(0, 0, 255, 0.5)); 
}


@media only screen and (max-width: 768px) {
  .services_grid {
    justify-content: flex-start;
  }
  .service_box {
    width: calc(50% - 10px); /* 2 img batave phn ma */
    min-height: 200px; 
  }
}
